html, body {
  font-family: 'Lato', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

fieldset{
      border: 1px solid #ddd;
}

#map-canvas {
  min-height: 200px;
}

/*.mainTitle{
  font-family: 'Libre Baskerville', serif;
}*/

.toolbarSearchGrey {
    height: 48px;
    /* background: rgba(255,255,255,.15); */
    box-sizing: border-box;
}

.toolbarSearchGrey md-input-container{
      margin-top: 0px;
    padding-top: 0px;
}

.toolbarSearchGrey md-input-container .md-input {
    color: #fff;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: 0 0;
    padding: 2px 2px 1px;
    border-width: 0 0 0px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
}

.demo-select-all-checkboxes {
  padding-left: 30px; }

.toolbarSearch{
  height: 48px;
  max-width: 720px;
  background: rgba(24, 41, 62, 0.57);
    /*background: rgba(255,255,255,.15);*/
    box-sizing: border-box;
    -webkit-border-radius: 3px;
     border-radius: 3px; 
}

.toolbarSearch md-input-container{
      margin-top: 0px;
    padding-top: 0px;
}

.toolbarSearch md-input-container .md-input {
    color: #fff;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: 0 0;
    padding: 2px 2px 1px;
    border-width: 0 0 0px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
}

.toolbarActions md-icon{
      border: 5px;
    /* margin: 5px 5px; */
    padding: 4px 0px;
    font-size: 14px;
    border-radius: 50%;
    color: rgb(93, 93, 93);
    height: 22px;
    width: 22px;
    background-color: rgb(255, 255, 255);
}


.typeLabel {
    min-width: 9px;
  margin-right: 0px;
  min-height: 71px;
  background-color: #E5E5E5;/*#E49696 -red #96BDE4 - blue #E5E5E5 - grey */
}

.forSale{
  background-color: #A9DF8F;
}

.sherrifSale{
  background-color: #E49696;
}

.hasAction{
  background-color: #96BDE4;
}
/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */


#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.5em;
  padding-left:5px;
}

.radioButtondemoMultiColumn div.radioDemo2 {
  /*margin-bottom: 20px; */
  }

.radioButtondemoMultiColumn h2 {
  margin-left: 15px; }

.radioButtondemoMultiColumn p {
  width: 400px;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  border-top: 2px solid #ddd; }

.radioButtondemoMultiColumn .md-checked {
  background-color: #ECFAFB;
  border-radius: 2px; }

.radioButtondemoMultiColumn md-button.md-raised, .radioButtondemoMultiColumn button.md-raised {
  width: 200px; }

.radioButtondemoMultiColumn .row {
  border-bottom: 1px dashed #ddd; }

.radioButtondemoMultiColumn div.row:last-child {
  border-bottom: 0px dashed #ddd; }

.radioButtondemoMultiColumn .summary {
  width: 100%;
  padding-top: 10px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: -5px; }

.radioButtondemoMultiColumn .title {
  font-weight: bolder; }

.radioButtondemoMultiColumn .selectedUser .md-checked {
  padding: 8px;
  width: 100px; }

  .info-box .info-line {
    margin-bottom: 24px; }
  .info-box .info-line .title {
      font-size: 15px;
      font-weight: 700;
      padding-bottom: 4px; }
  .info-box .info-line:last-child {
      margin-bottom: 0; }
