

<div layout-fill flex id="ddMain"  ng-controller="DashboardController as vm" ng-cloak flex-gt-xs="25" layout="column">

	

    <md-content layout-fill flex>
    <md-nav-bar style="height: 0px;" md-selected-nav-item="$root.currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('3')" name="3"><img src="./level3.png" height="30px"></md-nav-item>
      <md-nav-item md-nav-click="goto('2')" name="2"><img src="./level2.png" height="30px"></md-nav-item>
      <md-nav-item md-nav-click="goto('1')" name="1"><img src="./level1.png" height="30px"></md-nav-item>
      <span flex></span>
    </md-nav-bar>

    
    <div class="ext-content" flex layout-fill layout-align="end end">
    	<md-card flex-gt-xs="100" md-theme-watch md-theme="{{$root.currentNavItem | showTheme}}">
		        <md-card-title style="padding: 10px 16px 16px;">
		          <md-card-title-text>
		            <span class="md-headline">{{$root.currentNavItem | showTitle}}</span>
		            <span class="md-subhead">{{$root.currentNavItem | showDescription}}</span>
		            <span class="md-subhead">
		            </span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-sm card-media">
		            	<img ng-src="{{'./level'+$root.currentNavItem+'.png'}}" height="60">
		            </div>
		          </md-card-title-media>
		        </md-card-title>
		        
		        <!-- <md-card-actions layout="row" layout-align="end center">
		        	<md-button hide-gt-md class="md-icon-button" ng-click="vm.toggleList('left')" aria-label="Show User List">
				<md-icon md-font-icon="icon-print" ng-style="{'font-size': '24px','height':'24px','color':'#fff'}"></md-icon>
		        	<span flex></span>
		          <md-button>Graphs and Charts</md-button>
		          <md-button>Print Report</md-button>
		        </md-card-actions> -->
	      	</md-card>
		<md-content>
		
	    <md-tabs md-dynamic-height>
	      <md-tab label="overview">
	      	
		  </md-tab>
		  <md-tab label="map">

	      <div layout="column" ng-controller="MapController as map">
			<div layout="row">
				<md-button style="margin-top:10px" hide-gt-md class="md-icon-button" ng-click="vm.toggleList('left')" aria-label="Show User List">
				<md-icon md-font-icon="icon-layers" ng-style="{'font-size': '34px','height':'50px','color':'#1A75C2'}"></md-icon>
				</md-button>
				<md-input-container flex="40">
				<label>Search Map</label>
				<input ng-model="user.searchQuery">
				</md-input-container>
				
			</div>
	      	<div flex layout-fill id="map-canvas" ></div>
		  </div>
		  </md-tab>
	    </md-tabs>
	</md-content>
    </div>
    	
	</md-content>
</div>
